<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/landing.css">
    </head>
    <body>
        <div id="container" class="container">
            <h1>Welcome to YelpCamp</h1>
            <a id="start" class="btn btn-lg btn-info" href="/campgrounds">View All Campgrounds</a>
        </div>
        <div class="background">
        </div>
    </body>
</html>