html {
    font-size: 12px;
}

.message-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    top: 1.5rem;
}

/*SHOW PAGE*/
#allmap {
    height: 600px;
}

.thumbnail {
    transition: all 0.5s;
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption .name-container {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
}

.comment-item {
    margin-bottom: 2rem;
}

.delete-form {
    display: inline;
}

/*FOOTER*/
.footer-hr {
    width:80%;
    margin: 3rem auto 1rem;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.page-footer {
    text-align: center;
}

/*ALERT MESSAGE*/
div[role='alert'] {
    transition: all 0.5s;
}
