html {
    font-size: 12px;
}

/*HEADER NAVBAR*/
nav form button {
    border-radius: 50% !important;
}

/*MESSAGE BOX*/
.message-container {
    z-index: 1001 !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    top: 1.5rem;
}

/*CAMPGROUNDS PAGE*/
#gallery {
    display: flex;
    flex-wrap: wrap;
}

/*SHOW PAGE*/
.rating-container {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.rating-container h3 {
    color: #aaa;
}

.rating-inner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rating-score {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 50%;
    font-size: 2.5rem;
}

.rating-stars {
    width: 150px;
    height: 30px;
    background: url(/static/rating.png);
}

#allmap {
    height: 600px;
}

.thumbnail {
    transition: all 0.5s;
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption .name-container {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
}

.comment-item {
    margin-bottom: 2rem;
}

.delete-form {
    display: inline;
}

/*FOOTER*/
.footer-hr {
    width:80%;
    margin: 3rem auto 1rem;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.page-footer {
    text-align: center;
}